<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="motGatewayTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <motGatewayTester.Properties.Settings>
            <setting name="ListenIP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ListenPort" serializeAs="String">
                <value>24042</value>
            </setting>
            <setting name="GatewayIP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="GatewayPort" serializeAs="String">
                <value>25050</value>
            </setting>
            <setting name="ListenUname" serializeAs="String">
                <value />
            </setting>
            <setting name="ListenPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="GatewayUname" serializeAs="String">
                <value />
            </setting>
            <setting name="GatewayPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ErrorLevel" serializeAs="String">
                <value>Off</value>
            </setting>
            <setting name="MaxLogLines" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="AutoTruncate" serializeAs="String">
                <value>False</value>
            </setting>
        </motGatewayTester.Properties.Settings>
    </userSettings>
</configuration>
