<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CPRPlusInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <CPRPlusInterface.Properties.Settings>
            <setting name="POLL_Hours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="POLL_Minutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="POLL_Seconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DB_Type" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DB_UserName" serializeAs="String">
                <value>cpr_user</value>
            </setting>
            <setting name="DB_Password" serializeAs="String">
                <value>cpruser</value>
            </setting>
            <setting name="DB_ServerName" serializeAs="String">
                <value>DMPCPR</value>
            </setting>
            <setting name="DB_DatabaseName" serializeAs="String">
                <value>CPRTEST</value>
            </setting>
            <setting name="MOT_Address" serializeAs="String">
                <value>66.189.45.17</value>
            </setting>
            <setting name="MOT_Port" serializeAs="String">
                <value>24042</value>
            </setting>
            <setting name="MOT_UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="MOT_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_Address" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_Port" serializeAs="String">
                <value />
            </setting>
        </CPRPlusInterface.Properties.Settings>
    </userSettings>
</configuration>
