<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHapi.Base" publicKeyToken="d0d8ea960a3440eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.13" newVersion="2.4.0.13" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
