<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PharmaserveProxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MODDelimitedProxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <PharmaserveProxy.Properties.Settings>
            <setting name="ListenIP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ListenPort" serializeAs="String">
                <value>24042</value>
            </setting>
            <setting name="GatewayIP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="GatewayPort" serializeAs="String">
                <value>24041</value>
            </setting>
            <setting name="ListenUname" serializeAs="String">
                <value />
            </setting>
            <setting name="ListenPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="GatewayUname" serializeAs="String">
                <value />
            </setting>
            <setting name="GatewayPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ErrorLevel" serializeAs="String">
                <value>Off</value>
            </setting>
            <setting name="MaxLogLines" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="AutoTruncate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DB_ServerName" serializeAs="String">
                <value>MOT</value>
            </setting>
            <setting name="DB_Name" serializeAs="String">
                <value>dbrel02t</value>
            </setting>
            <setting name="vPrescriberLastTouch" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="vPatientLastTouch" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="vRxLastTouch" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="vLocationLastTouch" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="vStoreLastTouch" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="vDrugLastTouch" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="tmRefreshHours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tmRefreshSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tmRefreshMinutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DB_UserName" serializeAs="String">
                <value>MOTUser</value>
            </setting>
            <setting name="DB_Password" serializeAs="String">
                <value>MOTPFW</value>
            </setting>
            <setting name="PG_DatatbaseIP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="PG_DatabasePort" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="PG_DatabaseName" serializeAs="String">
                <value>MOT</value>
            </setting>
            <setting name="PG_DatabaseUname" serializeAs="String">
                <value>mot</value>
            </setting>
            <setting name="PG_DatabasePw" serializeAs="String">
                <value>mot!cool</value>
            </setting>
            <setting name="DB_Address" serializeAs="String">
                <value>173.112.241.253</value>
            </setting>
            <setting name="DB_Port" serializeAs="String">
                <value>24040</value>
            </setting>
            <setting name="DB_Type" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PG_DatabaseServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_InstanceName" serializeAs="String">
                <value />
            </setting>
            <setting name="viewPatient" serializeAs="String">
                <value />
            </setting>
            <setting name="viewStore" serializeAs="String">
                <value />
            </setting>
            <setting name="viewFacility" serializeAs="String">
                <value />
            </setting>
            <setting name="viewDoctor" serializeAs="String">
                <value />
            </setting>
            <setting name="viewScrip" serializeAs="String">
                <value />
            </setting>
            <setting name="viewDrug" serializeAs="String">
                <value />
            </setting>
            <setting name="viewTQ" serializeAs="String">
                <value />
            </setting>
        </PharmaserveProxy.Properties.Settings>
        <MODDelimitedProxy.Properties.Settings>
            <setting name="ListenIP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ListenPort" serializeAs="String">
                <value>24042</value>
            </setting>
            <setting name="GatewayIP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="GatewayPort" serializeAs="String">
                <value>24041</value>
            </setting>
            <setting name="ListenUname" serializeAs="String">
                <value/>
            </setting>
            <setting name="ListenPwd" serializeAs="String">
                <value/>
            </setting>
            <setting name="GatewayUname" serializeAs="String">
                <value/>
            </setting>
            <setting name="GatewayPwd" serializeAs="String">
                <value/>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>1</value>
            </setting>
        </MODDelimitedProxy.Properties.Settings>
    </userSettings>
</configuration>
