<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="wHL7ProxyInstaller" Language="1033" Version="1.0.0.0" Manufacturer="Medicine-On-Time" UpgradeCode="60530262-f3b0-4354-bccb-ce50c688c355">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="wHL7ProxyInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="HL7 Interface Proxy" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<Component Id="ProductComponent"> 
				<File Source="$(var.HL7Proxy.TargetPath)" />
        <!-- File Source="$(var.motCommonLib.TargetPath)" / -->
        <!-- File Source="$(var.motInboundLib.TargetPath)" / -->        
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
